
.btn{
	display: inline-block;
	vertical-align: top;
	padding: 9px 16px;
	font-size: 14px;
	border: 0;
	color: #666;
	line-height: 1;
	transition: all 0.1s;
	&:disabled{opacity: 0.7;}
}

.btn-group{display: flex;
	margin: 0 -3px;padding-bottom: 25px;
	.btn{display: block;padding-left: 0;padding-right: 0;margin: 0 3px;width: 33.33%;text-align: center;padding-top: 13px;padding-bottom: 13px;}
	@media (max-width:330px) {
		.btn{
			font-size: 4.3vw;
		}
	}
}

.btn-block{display: block;width: 100%;}
.btn-lg{text-align: center;font-weight: bold;border-radius:5px;font-size: 16px;height: 47px;border: 0;padding: 0;}

.btn-1{background-color: #0cc9cf;color: #fff;}
.btn-2{background-color: #0b4658;color: #fff;}
.btn-3{background-color: #e5eaed;color: #89979a;}
.btn-4{background-color: #ff6d7f;color: #fff;}

.btn-gray{background-color: #cccccc;border-radius: 5px;color: #fff;font-weight: 500;}
.btn-green{background-color: #00a6ae;color: #fff;border-radius: 5px;}
.btn-pink{background-color: #f06350;color: #fff;border-radius: 5px;}
