
@mixin gutter($size){
    margin: 0 calc($size / 2) * -1;
    [class^="col-"]{
        padding: 0 calc($size / 2) * 1;
    }
}
.row{
    &:after{
        content:"";display: block;clear: both;overflow: hidden;
    }
    [class^="col-"]{float: left;}
    
    &.margin-xxs{
        @include gutter($gutter-xxs);
    }
    &.margin-xs{
        @include gutter($gutter-xs);
    }
    &.margin-s{
        @include gutter($gutter-s);
    }
    &.margin-m{
      @include gutter($gutter-m);
    }
    &.margin-l{
       @include gutter($gutter-l);
    }
    &.margin-xl{
       @include gutter($gutter-xl);
    }
    &.margin-xxl{
        @include gutter($gutter-xxl);
    }
}
@for $i from 1 to 13{
  .col-#{$i}{
    width: calc(100% / 12) * $i;
  }
}
