.ui-datepicker{padding: 0;width: 100%;}
.ui-widget{font-family: 'Pretendard';}
.ui-widget.ui-widget-content{border: 0;border-radius: 0;}
.ui-datepicker .ui-datepicker-header{
	padding: 0;border: 0;border-radius: 0;background: none;
}
.ui-datepicker{
	table{margin-bottom: 0;}
}
.ui-datepicker-calendar{
	table{font-size: 1em;}
}
.ui-datepicker{
	.ui-datepicker-title{
		margin: 0;line-height: 1;
		margin-bottom: 15px;
		text-align: left;font-size: 0;
		.ui-datepicker-year{
			display: block;
			font-weight: bold;
			color: #0cc9cf;
			font-size: 14px;
		}
		.ui-datepicker-month{
			display: block;
			font-weight: bold;
			color: #0cc9cf;
			font-size: 20px;
		}
	}
	.ui-datepicker-prev,
	.ui-datepicker-next{border: 0;background: none;width: auto;height: auto;padding: 5px;top: 50%;transform: translateY(-50%);}
	.ui-datepicker-prev{right: 20px;left: inherit;}
	.ui-datepicker-next{right: 0;left: inherit;}
	.ui-datepicker-prev span,
	.ui-datepicker-next span{background-size: 100% auto;width: 8.5px;height: 14px;margin: 0;position: static;background-position: 0 0;}
	.ui-datepicker-prev span{background-image: url("../img/cld-arw-prev.png");}
	.ui-datepicker-next span{background-image: url("../img/cld-arw-next.png");}
	th{
		padding: 0;
		font-weight: bold;
		font-size: 14px;
		padding-top: 15px;
	}
	td{
		padding: 0;text-align: center;
	}
}

.ui-datepicker-calendar{background-color:#e4f9fa;border-radius: 10px;}
.ui-widget-content .ui-state-default{
	font-size: 14px;font-weight: bold;

}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	border: 0;padding: 0;background: none;
	padding: 14px 0;
	text-align: center;
	display: inline-block;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	color: #fff;border-radius:50%;background-color: #0cc9cf;width: 30px;height: 30px;line-height: 30px;padding: 0;
}

.calendar.not-bg .ui-datepicker-calendar{background: none;}