<nav class="nav">
	<ul>
		<li><a href="#">나의 캘린더</a></li>
		<li><a href="#">교육영상</a></li>
		<li><a href="#">질환정보</a></li>
		<li><a href="#">제품정보</a></li>
		<li><a href="#">나의여행템</a></li>
	</ul>
</nav>

<script>
	$(document).ready(function () {

		let myDataData = 
		[
		  {"date":"2022-11-10","badge":false, "classname":"date-mark mark-1"},
		  {"date":"2022-11-09","badge":false, "classname":"date-mark mark-2"},
		  {"date":"2022-11-12","badge":false, "classname":"date-mark mark-3"},
		  {"date":"2022-11-14","badge":false, "classname":"date-mark mark-4"},
		  {"date":"2022-11-28","badge":false, "classname":"date-mark mark-4 date-gray"}
		];

        $(".datepicker").zabuto_calendar({
        	language: "kr",
            cell_border: true,
            today: true,
            show_days: true,
            weekstartson: 0,
            data: myDataData,
            nav_icon: {
                prev: '<i class="left"><img src="./assets/img/cld-arw-prev.png"></i>', // 핑크일 떄 cld-arw-prev-pink
                next: '<i class="right"><img src="./assets/img/cld-arw-next.png"></i>' // 핑크일 떄 cld-arw-next-pink
            }
        });
    });
</script>