
@for $i from 0 to 100{
	.width-#{$i}p{width: $i * 1%;}
	.height-#{$i}p{height: $i * 1%;}
}
@for $i from 0 to 120{
	.width-#{$i}{width: $i * 1px;}
	.height-#{$i}{height: $i * 1px;}
}

@media (max-width:map-get($grid-breakpoints, "md")) {
	.width-mb-100p{width: 100%;}
	.width-mb-auto{width: auto;}

	@for $i from 0 to 100{
		.width-mb-#{$i}p{width: $i * 1%;}
		.height-mb-#{$i}p{height: $i * 1%;}
	}
}



