/**
 * Zabuto Calendar
 */

div.zabuto_calendar {
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table th,
div.zabuto_calendar .table td {
    padding: 4px 2px;
    text-align: center;
}

div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td {
    background-color: #ffffff;
}

div.zabuto_calendar .table tr:last-child {
    
}

/* month header */
div.zabuto_calendar .table tr.calendar-month-header td {
    text-align:left;
}
div.zabuto_calendar .table tr.calendar-month-header td span b{
    font-weight: 400;
    display: block;
}
div.zabuto_calendar .table tr.calendar-month-header td .calendar-month-navigation{
    float: right;
    padding-top: 15px;
}
div.zabuto_calendar .table tr.calendar-month-header td .calendar-month-navigation span{padding-bottom: 0;}

div.zabuto_calendar .table tr.calendar-month-header td .calendar-month-navigation .right{
    margin-left: 20px;
}



div.zabuto_calendar .table tr.calendar-month-header td span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 20px;
    color: #0cc9cf;
    font-size: 14px;font-weight: 700;
}
div.zabuto_calendar .table tr.calendar-month-header td span b{font-size: 20px;font-weight: 700;}

.calendar.pink div.zabuto_calendar .table tr.calendar-month-header td span{
    color: #ff6d7f;
}
.calendar.pink span.badge-today{background-color: #f17261;}

div.zabuto_calendar .table tr.calendar-month-header td {
    padding-top: 0;
    padding-bottom: 4px;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header td {
    border-left: 0;
    border-right: 0;
}


div.zabuto_calendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
    
}
.calendar-month-navigation span{font-size: 0;}
.calendar-month-navigation span i img{height: 14px;}


/* day-of-week header */
div.zabuto_calendar .table tr.calendar-dow-header th {
    
}

div.zabuto_calendar tr.calendar-dow-header th,
div.zabuto_calendar tr.calendar-dow td {
    vertical-align: middle;
    width: 14%;
}
div.zabuto_calendar tr.calendar-dow td{
    height: 41px;
}

/* day */
div.zabuto_calendar .table tr td div.day {
    margin: 0;
    padding-top: 0;padding-bottom: 0;
}

div.zabuto_calendar .table tr td:first-child div.day{color: #ff0000;}
div.zabuto_calendar .table tr td:last-child div.day{color: blue;}

/* actions and events */
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
    background-color: #fff0c3;
}

div.zabuto_calendar .table tr td.dow-clickable,
div.zabuto_calendar .table tr td.event-clickable {
    cursor: pointer;
}

/* badge */
.date-mark span{position: relative;display: inline-block;width: 30px;height: 30px;line-height: 30px;background-repeat: no-repeat;background-position: 50% 50%;background-size: 15px 15px;vertical-align: middle;}
.date-mark span.badge-today{font-size: 0;}

.date-mark:not(.today){position: relative;display: inline-block;width: 30px;height: 30px;line-height: 30px;background-repeat: no-repeat;background-position: 50% 50%;background-size: 15px 15px;font-size: 0;}
.date-mark.mark-1{background-image: url("../../img/cld-icon-1.png");}
.date-mark.mark-2{background-image: url("../../img/cld-icon-2.png");}
.date-mark.mark-3{background-image: url("../../img/cld-icon-3.png");}
.date-mark.mark-4{background-image: url("../../img/cld-icon-4.png");}
.date-mark.mark-5{background-image: url("../../img/cld-icon-5.png");}
div.zabuto_calendar .table tr td div.day.today{padding-top: 0;padding-bottom: 0;}
.date-mark.mark-1 span.badge-today{background-image: url("../../img/cld-icon-1.png");}
.date-mark.mark-2 span.badge-today{background-image: url("../../img/cld-icon-2.png");}
.date-mark.mark-3 span.badge-today{background-image: url("../../img/cld-icon-3.png");}
.date-mark.mark-4 span.badge-today{background-image: url("../../img/cld-icon-4.png");}

.date-mark.date-gray{background-color: #dddddd;border-radius:50%;}


.date-mark.today{background: none;}
span.badge-today {
   display: inline-block;
   background-color: #0cc9cf;
   border-radius:50%;
   width: 30px;height: 30px;line-height: 30px;
   text-align: center;color: #fff;
}

div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
    background-color: #ff9b08;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event {
    font-size: 0.95em;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

/* legend */
div.zabuto_calendar div.legend {
    margin-top: 5px;
    text-align: right;
}

div.zabuto_calendar div.legend span {
    color: #999999;
    font-size: 10px;
    font-weight: normal;
}

div.zabuto_calendar div.legend span.legend-text:after,
div.zabuto_calendar div.legend span.legend-block:after,
div.zabuto_calendar div.legend span.legend-list:after,
div.zabuto_calendar div.legend span.legend-spacer:after {
    content: ' ';
}

div.zabuto_calendar div.legend span.legend-spacer {
    padding-left: 25px;
}

div.zabuto_calendar ul.legend > span {
    padding-left: 2px;
}

div.zabuto_calendar ul.legend {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar ul.legend li {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
}

div.zabuto_calendar ul.legend,
div.zabuto_calendar ul.legend li:first-child {
    margin-left: 7px;
}

div.zabuto_calendar ul.legend li:last-child {
    margin-right: 5px;
}

div.zabuto_calendar div.legend span.badge {
    font-size: 0.9em;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}

/* responsive */
@media (max-width: 979px) {
    div.zabuto_calendar .table th,
    div.zabuto_calendar .table td {
        padding: 2px 1px;
    }
}
