@use 'sass:math';

$baseWidth : 720px;
$baseHeight : 1420px;
@function per($inputValue){
	$result : math.div($inputValue, $baseWidth) * 100%;
	@return $result;
}
@function perh($inputValue){
	$result : math.div($inputValue, $baseHeight) * 100%;
	@return $result;
}


@keyframes animateBounce {
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(20%);
    }
    75% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes animateCloud {
    0% { 
        transform: translateX(35%) translateY(-50%);
    }
    100% {
        transform: translateX(100%) translateY(-50%);
    }
}
