$src : "/assets/img/sub/";
$src2 : "/assets/img/main/";
@mixin backimg($imgpath,$position:0 0,$repeat: no-repeat) {
    background: url(#{$src}#{$imgpath}) $repeat $position;
}
@mixin backimg2($imgpath,$position:0 0,$repeat: no-repeat) {
    background: url(#{$src2}#{$imgpath}) $repeat $position;
}