
$font-default: "Pretendard";
$font-size: 14px;
$font-color: #222;
$hover-color : #fc9a00;

$grid-width: 800px;

// $gutter : (
//   gutter-xxs : 4px,
//   gutter-xs : 8px,
//   gutter-s : 16px,
//   gutter-m : 24px,
//   gutter-l : 36px,
//   gutter-xl : 48px,
//   gutter-xxl : 80px  
// )

$gutter-xxs : 4px;
$gutter-xs : 8px;
$gutter-s : 15px;
$gutter-m : 24px;
$gutter-l : 36px;
$gutter-xl : 48px;
$gutter-xxl : 80px;

$brandColor : (
  #264998,
  #3c9082,
  #212e4e
);

$path : "/include/img";

$grid-breakpoints: (
  xs: 0,
  md: 768px,
  sm: 576px,
  lg: 1000px,
  xl: 1280px
);
