
//Core files
@import "config/variables";
@import "config/functions";
@import "config/mixin";


// Plugins

.relative{position: relative;}
.mt-15{margin-top: 15px;}
section+section{margin-top: 30px;}
h4{font-weight: bold;font-size: 16px;margin-bottom: 15px;}
html, body{height: 100%;}
body{overflow-x: hidden;}

#content{
	padding: 70px 0 70px;
	position: relative;
	z-index: 1;
}
/*
** 헤더
*/
.header{height: 60px;position: fixed;top: 0;left: 0;width: 100%;background-color: #fff;z-index: 2;box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	button{display: block;position: absolute;left: 15px;top: 50%;width: 19px;height: 18px;background: url("../img/arw.png") no-repeat 0 0;background-size: 100% auto;
		transform: translateY(-50%);
	}
	h1{text-align: center;line-height: 60px;font-size: 20px;font-weight: bold;}
}

.nav{position: fixed;left: 0;bottom: 0;width: 100%;border-top: 1px solid #dddddd;height: 60px;z-index: 2;background-color: #fff;
	ul{
		display: flex;height: 100%;
		li{
			height: 100%;
			width: 20%;
			a{
				display: block;width: 100%;height: 100%;
				font-weight: bold;text-align: center;
				padding-top: 43px;
				color: #414141;
				font-size: 11px;
				background-repeat: no-repeat;
				background-position: 50% 9px;
			}
			&.active{
				a{color: #00a6ae;}
				&:nth-child(1) a{background-image: url("../img/nav-icon-on-1.png");}
				&:nth-child(2) a{background-image: url("../img/nav-icon-on-2.png");}
				&:nth-child(3) a{background-image: url("../img/nav-icon-on-3.png");}
				&:nth-child(4) a{background-image: url("../img/nav-icon-on-4.png");}
				&:nth-child(5) a{background-image: url("../img/nav-icon-on-5.png");}
			}
			&:nth-child(1) a{
				background-image: url("../img/nav-icon-off-1.png");background-size: 31px auto;
			}
			&:nth-child(2) a{
				background-image: url("../img/nav-icon-off-2.png");background-size: 29px auto;
			}
			&:nth-child(3) a{
				background-image: url("../img/nav-icon-off-3.png");background-size: 23px auto;
			}
			&:nth-child(4) a{
				background-image: url("../img/nav-icon-off-4.png");background-size: 28px auto;
			}
			&:nth-child(5) a{
				background-image: url("../img/nav-icon-off-5.png");background-size: 30px auto;
			}
		}
	}
	@media (max-width:320px) {
		ul{
			li{
				a{
					font-size: 10px;
				}
			}
		}
	}
}

.mycld__button{margin-top: 30px;}

.content-tit{padding-bottom: 28px;
	h3{font-size: 16px;}
}
.switch{
	position: relative;
	input{
		position: absolute;left: -9999em;opacity: 0.1;width: 1px;height: 1px;
		overflow: hidden;
		&:checked{
			+label{
				background-color: #d8e0e7;
				&:after{
					left: 1px;transform: translateX(0%);
				}
				.txt1{opacity: 0;}
				.txt2{opacity: 1;}
			}
		}
	}
	label{
		display: inline-block;
		height: 35px;
		width: 100px;
		position: relative;
		border-radius: 25px;
		background-color: #2cc8a7;transition: all 0.2s;
		&:after{content:"";display: block;position: absolute;left: calc(100% - 1px);top: 1px;height: 33px;width: 33px;border-radius: 50%;background-color: #fff;transition: all 0.2s;transform: translateX(-100%);}
		span{color: #fff;position: absolute;font-size: 12px;font-weight: 700;top: 50%;transform: translateY(-50%);transition: all 0.2s;}
		.txt2{opacity: 0;left: 37px;}
		.txt1{left: 28px;}
	}
	&.pink{
		input{}
		label{
			background-color: #ff8786;
		}
	}
}
.flex__dl{
	display: flex;
	align-items: center;
	dt{font-size: 16px;font-weight: 700;width: 80px;}
	dd{font-size: 16px;width: calc(100% - 80px);}
	+.flex__dl{margin-top: 24px;}
}
.inline-block{display: inline-block;}
.text-center{text-align: center;}
.color-gray{color: #666666;}
.calendar-next{padding-top: 30px;}

.visit-2{
	padding-top: 35px;
	h3{
		margin: 0 31.9vw;
		margin-bottom: 50px;
	}
	.mycld__button{
		margin-top: 60px;
	}
}
.flex__center{
	display: flex;
	justify-content: center;
}
.visit__view{
	li{
		font-size: 14px;font-weight: 700;
		+li{margin-top: 14px;}
		b{
			color: #0cc9cf;
			padding-left: 10px;
		}
		em{
			font-style: normal;color: #666666;
		}
	}
}
.visit-3{
	.form-group{
		display: flex;
		align-items: center;
		label{
			display: block;
			font-weight: 700;font-size: 16px;
			padding-right: 15px;
		}
		input{
			display: block;
			width: calc(100% - 57px);
			border-radius: 5px;
			border: 1px solid #ddd;
			height: 40px;padding: 5px;
		}
	}
	.notice__txt{
		color: #f06350;font-weight: 700;font-size: 14px;
		margin-top: 26px;
		position: relative;
		padding-left: 40px;padding-top: 2px;
		&:after{
			content:"";display: block;position: absolute;left: 0;top: 0;width: 30px;height: 30px;border-radius: 50%;
			background:#f06350 url("../img/strong.png") no-repeat 50% 50%;background-size: 5px auto;
		}
	}
}

.visit-4{
	.year__select{
		padding-bottom: 20px;
		select{
			border: 0;
			font-weight: 700;
			font-size: 20px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: url("../img/select-arw.png") right 10px center no-repeat;
			background-size: 14px auto;
			padding-right: 35px;
			color: #0cc9cf;
		}
	}
}

.visit-4__history{
	margin: 0 -15px;
}

.visit_history--list{
	border-bottom: 1px solid #ddd;
	li{position: relative;
		padding: 15px;
		border-top: 1px solid #ddd;
		dl{
			display: flex;font-size: 14px;
			dt{color: #000;font-weight: 700;}
			dd{color: #00a6ae;font-weight: 700;margin-left: 7px;}
			+dl{margin-top: 10px;}
		}
		.btn__group{
			display: flex;
			position: absolute;right: 0;top: 0;height: 100%;
			button{
				display: block;font-weight: 700;
				color: #fff;height: 100%;width: 30px;
			}
			.btn-modify{
				background-color: #999999;

			}
			.btn-del{
				background-color: #f06350;
			}
		}
	}
}
.form-group-radio{display: flex;
	.radio__input{
		width: 27vw;
		max-width: 200px;
		+.radio__input{
			margin-left: 7px;
		}
	}
}
.mt30{margin-top: 30px;}
.radio__input{
	position: relative;
	justify-content: space-between;
	input{
		position: absolute;left: -9999em;opacity: 0.1;width: 1px;height: 1px;overflow: hidden;
		&[type="radio"]{
			&:checked +{
				span{background-color: #2cc8a7;color: #fff;}
			}
		}
		&[type="checkbox"]{
			&:checked +{
				span{background-color: #2cc8a7;color: #fff;}
			}
		}
	}
	input[type="radio"]{
		+ span{
			height: 40px;line-height: 38px;
		}
	}
	label{
		display: inline-block;position: relative;width: 100%;
		&.pink{
			input[type="checkbox"]:checked{
				+span{
					background-color: #ff8786;color: #fff;
				}
			}
			input[type="radio"]:checked{
				+span{
					background-color: #ff8786;color: #fff;
				}
			}
			span{
				border-color: #ff8786;color: #ff8786;
			}
		}
		span{
			display: block;width: 100%;text-align: center;border: 1px solid #2cc8a7;border-radius:5px;font-size: 14px;color: #2cc8a7;
			transition: all 0.15s;
		}
	}
}
.administer-1{
	.height__flex{width: 100%;}
	.content-tit{
		padding-bottom: 12px;
	}
	.mycld__button{margin-top: 90px;}
}
.week{
	margin: 0 -3px;
	.radio__input{
		width: calc(100%/7);
		label{
			span{font-size: 14px;
				height: 40px;font-weight: 400;line-height: 38px;
			}
		}
	}
}

.Dosage{
	&--tit{
		text-align: center;font-size: 16px;font-weight: 700;padding-bottom: 25px;
	}
	&--view{
		text-align: center;
		display: flex;
		justify-content: center;
		.center{
			width: 100%;
		}
		.beaker{
			position: relative;
			width: 39%;
			margin: 0 auto;
			transform: translateX(-11%);
			img{width: 100%;}
			.gage{
				position: absolute;
				left: 32%;
			    right: 7%;
			    bottom: 5%;
				background-color: #73c6ef;
				border-radius: 0 0 10px 10px;
				transition: all 0.7s cubic-bezier(0.24, 1.76, 0.64, 1.5);
				height: 0%;
				&.v2{background-color: #ff6d7f;}
			}
		}
		.Dosage--count{
			padding-top: 25px;
			text-align: center;font-size: 14px;
			padding-bottom: 14px;
			strong{
				font-weight: 700;color: #0cc9cf;
				&.v2{color: #ee5b6d;}
			}
			b{
				font-weight: 700;color: #000;
			}
		}
		&-reset{
			display: inline-block;
			background: url("../img/reset.png") no-repeat 0 50%;
			background-size: 12px auto;
			padding-left: 21px;	
			font-size: 12px;
			font-weight: 700;
			a{
				color: #444;
			}
		}

	}
	&--notice{
		padding: 40px 0  30px;
		text-align: center;color: #00a6ae;font-weight: 700;font-size: 12px;
		&.v2{color: #ee5b6d;}
	}
	&--select{
		display: flex;
		margin: 0 -3px;
		a{
			display: block;
			margin: 0 3px;
			width: 20%;
			.img{
				position: relative;
				background-color: #fff;
				width: 100%;padding-bottom: 105%;box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
				border-radius:5px;
				img{position: absolute;bottom: 0;display: block;vertical-align: top;height: auto;width: 50%;transform: translateX(-50%);left: 50%;}
			}
			p{
				text-align: center;font-weight: 700;font-size: 12px;color: #333333;padding-top: 10px;
			}
		}
	}
}

.administer-4{
	.txt{
		text-align: center;font-size: 16px;font-weight: 700;
		padding-bottom: 60px;
		b{
			color: #0cc9cf;
		}
	}
	.img{padding-left: 26%;padding-right: 26%;}
	.mycld__button{
		margin-top: 55px;
	}
}
.administer-5{
	.txt{
		text-align: center;font-size: 16px;font-weight: 700;
		padding-bottom: 60px;
	}
	.img{padding-left: 25%;padding-right: 25%;}
	.mycld__button{
		margin-top: 55px;
	}
}

.administer-list{
	background-color: #fff;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 6%;
	+.administer-list{
		margin-top: 14px;
	}
	.icon{
		width: 50px;height: 50px;
		background: #e4f9fa url("../img/icon-admin.png") no-repeat 50% 50%;background-size: 30px auto;
		border-radius: 50%;
	}
	strong{color: #00a6ae;font-size: 16px;}
	ul{
		li{
			+li{
				padding-top: 8px;
			}
			span{
				font-size: 14px;color: #000;
				display: inline-block;
				padding-left: 4px;
			}
			b{
				color: #00a6ae;font-size: 14px;
				em{
					font-style: normal;
					font-weight: 400;
					color: #000;
				}
			}
		}
	}
	&.v2{
		.icon{background-color: #fff3f3;}
		strong{color: #ff6d7f;}
		ul{
			li{
				b{color: #ff6d7f;}
			}
		}
	}
}
.graph-next{margin-top: 30px;}

.administer-switch{
	padding-top: 90px;
}