@import "config/variables";
@import "config/functions";
@import "config/mixin";


.login{position: relative;height: 100vh;padding: 15px 0;
	.hemo{}
	&__barcode{
		&--text{text-align: center;color: #333;margin-top: 15px;}
	}
	&__input{
		.input{border-radius:5px;height: 40px;
			&::placeholder{color: #999999;}
		}
	}

	&__submit--button{text-align: center;font-weight: bold;color: #89979a;background-color: #e5eaed;border-radius:5px;font-size: 16px;height: 55px;border: 0;
		&.active{background-color: #0cc9cf;color: #fff;}
	}
}
.error404{
	width: 100vw;height: 100vh;
	display: flex;align-items: center;justify-content: center;
	&__img{text-align: center;}
	&__title{text-align: center;color: #000;font-weight: bold;font-size: 24px;padding: 38px 0 20px;line-height: 1.34;}
	&__txt{text-align: center;line-height: 1.34;color: #666;}
	@media (orientation: landscape) {
		width: auto;height: auto;display: block;
		padding: 25px 0;
	}
}

.member{
	.container{position: relative;height: 100vh;}
	@media (orientation: landscape) {
		.container{
			height: auto;
			padding: 20px 0 0;
		}
	}
	&__result{
		&--sun{
			position: absolute;left: 0;top: 0;
			width: per(252px);
			@media (orientation: landscape) {
				position: relative;
			}
		}
		&--txt{
			text-align: center;
			position: relative;
			top: perh(315px);
			z-index: 2;
			p{font-weight: bold;font-size: 24px;margin-bottom: 25px;line-height: 1.24;
				em{color: #00a6ae;font-style: normal;
					&.v2{color: #f06350;}
				}
			}
			.btn{background-color: #0cc9cf;color: #fff;width: per(220px);height: 45px;line-height: 45px;text-align: center;padding: 0;border-radius:5px;border: 0;font-weight: normal;
				&.v2{background-color: #f06350;}
			}
			.img-1{text-align: right;animation: animateBounce 4s linear infinite;
				img{width: per(91px);}
			}
		}
		&--img{
			z-index: 1;
			position: absolute;bottom: 0;left: 0;right: 0;
			.img-1{
				position: absolute;right: 0;left: 0;
				img{
					width: per(121px);
					transition: translateY(-50%) translateX(35%);
					animation: animateCloud 5s linear infinite;
				}
			}
			@media (orientation: landscape) {
				position: static;
			}
		}
	}
	&__dupli{
		text-align: center;
		&--txt{
			font-weight: bold;line-height: 1.24;padding-top: 40px;font-size: 24px;
			strong{color: #00a6ae;}
		}
	}
}

#reg_dupli{
	.container{
		display: flex;align-items:center;justify-content: center;
		padding: 20px 0;height: auto;
	}
	@media (orientation: landscape) {
		.container{
			display: block;
		}
	}
}
