@import "config/variables";
@import "config/functions";
@import "config/mixin";


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin: 0;padding: 0;border: 0;font-size: 100%;/*font: inherit;*/vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}
body{line-height: 1;}
ol, ul{list-style: none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';content: none;}
table{border-collapse: collapse;border-spacing: 0;}

*{margin:0;padding:0;outline:none;box-sizing:border-box;}
html, body{font-family:'Pretendard',sans-serif;color:#333;font-size:14px;font-weight:normal;}
header, footer, section, article, div, table, ul, ol, a, button, form, input, select, textarea, em, i, p, dl, dt, dd, span, strong{font-family:'PretendArd',sans-serif;}
table{border-collapse:collapse;width:100%;}
ul, ol{list-style:none;}
form, fieldset, img{border:0;}
button{cursor:pointer;background:none;}
a{font-size:inherit;text-decoration:none;/* transition:all ease-in-out .3s; */}
a:hover, a:active, a:visited, a:focus{text-decoration: none;}
input, select, textarea, button{color:#050505;font-size:inherit;border:0;font-family:'PretendArd',sans-serif;}
textarea{width:100%;resize:none;}
textarea[readonly]{cursor:default;}
iframe{width:100%;/*height:auto;*/border:0;}
label{cursor: pointer;}

img{vertical-align: top;max-width: 100%;}


.clear:after{display: block;content: '';clear: both;}

.sr_only{
	overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
.text-center{text-align: center;}

.container{
    max-width:$grid-width;margin: 0 auto;padding: 0 15px;
    &:after{
        content:"";display: block;clear: both;overflow: hidden;
    }
}


.mb-xl{margin-bottom: $gutter-xl !important;}
.mb-m{margin-bottom: $gutter-m !important;}


.xl-block{display: none;}
.xl-none{}
.xs-block{display: none;}
.xs-none{}

@media (max-width:map-get($grid-breakpoints, "xl")) {
    .xl-block{display: block;}
    .xl-none{display: none;}
}

@media (max-width:map-get($grid-breakpoints, "md")) {
    .xs-block{display: block;}
    .xs-none{display: none;}
}




@import "components/fonts";
@import "helper/size";
@import "components/color";
@import "components/column";
@import "components/btn";
@import "components/form";
@import "components/datepicker";
@import "helper/helper";